@import url("https://fonts.googleapis.com/css?family=Roboto:700");

:root {
  --title-text-show-delay: 0.5s;
  --title-text-show-duration: 0.5s;
  --title-rect-show-duration: 0.3s;
  --title-rect-hide-delay: 2s;
}

@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0%, 0);
  }
}

@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.animated-title {
  color: #000;
  font-family: Roboto, Arial, sans-serif;
  height: 90vmin;
  /* left: 50%; */
  margin: 0 auto;
  position: relative;
  top: 100%;
  /* // transform: translate(-50%, -50%); */
  width: 90vmin;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 12vmin;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  /* border-bottom: 1vmin solid #000; */
  top: 0;
  animation: showTopTextSlideIn var(--title-rect-show-duration)
      calc(var(--title-text-show-delay) + var(--title-text-show-duration))
      forwards,
    showTopTextSlideOut var(--title-rect-show-duration)
      calc(
        var(--title-text-show-delay) + var(--title-text-show-duration) +
          var(--title-rect-show-duration) + var(--title-rect-hide-delay)
      )
      forwards;
}
.animated-title > div.text-top div {
  animation: showTopText var(--title-text-show-duration)
    var(--title-text-show-delay) forwards;
  bottom: -1rem;
  transform: translate(0, 100%);
}
.animated-title > div.text-bottom {
  bottom: 0;
  animation: showBottomTextSlideIn var(--title-rect-show-duration)
      calc(var(--title-text-show-delay) + var(--title-text-show-duration))
      forwards,
    showBottomTextSlideOut var(--title-rect-show-duration)
      calc(
        var(--title-text-show-delay) + var(--title-text-show-duration) +
          var(--title-rect-show-duration) + var(--title-rect-hide-delay)
      )
      forwards;
}

.animated-title > div.text-bottom div {
  animation: showBottomText var(--title-text-show-duration) forwards;
  animation-delay: var(--title-text-show-duration);
  top: -1rem;
  transform: translate(0, -100%);
}

.animated-title > .text-rect {
  background: red;
  margin: auto auto;
  left: 0;
  right: 0;
  width: 0px;
  height: 0px;
  animation: showRect var(--title-rect-show-duration)
      calc(var(--title-text-show-delay) + var(--title-text-show-duration))
      forwards,
    hideRect var(--title-rect-show-duration)
      calc(
        var(--title-text-show-delay) + var(--title-text-show-duration) +
          var(--title-rect-show-duration) + var(--title-rect-hide-delay)
      )
      forwards;
  top: 50%;
}

@keyframes showTopTextSlideIn {
  0% {
    top: 0;
    left: 0;
  }
  100% {
    left: -10vmax;
    top: -2.5vmin;
  }
}

@keyframes showTopTextSlideOut {
  0% {
    left: -10vmax;
    top: -2.5vmin;
  }
  100% {
    top: 0;
    left: 0;
  }
}

@keyframes showBottomTextSlideIn {
  0% {
    bottom: 0;
    left: 0;
  }
  100% {
    left: 10vmax;
    bottom: -2.5vmin;
  }
}

@keyframes showBottomTextSlideOut {
  0% {
    left: 10vmax;
    bottom: -2.5vmin;
  }
  100% {
    bottom: 0;
    left: 0;
  }
}

@keyframes showRect {
  0% {
    top: 50%;
  }
  100% {
    width: 30vmax;
    height: 5vmin;
    top: calc(50% - 2.55vmin);
  }
}

@keyframes hideRect {
  0% {
    width: 30vmax;
    height: 5vmin;
    top: calc(50% - 2.5vmin);
  }

  100% {
    top: 50%;
    width: 0;
    height: 0;
  }
}

.animated-title > .text-rect > div {
  font-size: 3vmin;
}
