@import url("https://fonts.googleapis.com/css?family=Roboto:700");

:root {
  --title-text-show-delay: 0.5s;
  --title-text-show-duration: 0.5s;
  --title-rect-show-duration: 0.3s;
  --title-cats-show-duration: 0.4s;
  --title-rect-hide-delay: 2s;
}

nav {
  display: inline-block;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
}

nav li {
  float: left;
  
}

nav a::after {
  display: inline-block;
  color: #000;
  content: ">";
  font-size: 80%;
  font-weight: bold;
  padding: 0 3px;
}

.animated-title > .text-rect > div {
  left: 0;
  right: 0;
  text-align: center;
  font-size: 4vmin;
  display: inline;
}

@keyframes repositionLogo {
  to {
    opacity: 0;
  }
}
