@import url("https://fonts.googleapis.com/css?family=Roboto:700");

:root {
  title-show-duration: 5s;
  title
}

@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0%, 0);
  }
}

@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.animated-title {
  color: #000;
  font-family: Roboto, Arial, sans-serif;
  height: 90vmin;
  /* left: 50%; */
  margin: 0 auto;
  position: relative;
  top: 100%;
  /* // transform: translate(-50%, -50%); */
  width: 90vmin;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 12vmin;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  /* border-bottom: 1vmin solid #000; */
  top: 0;
  animation: showTopTextSlide 1s forwards;
  animation-delay: 1.5s;
}
.animated-title > div.text-top div {
  animation: showTopText 0.5s forwards;
  animation-delay: 0.5s;
  bottom: -1rem;
  transform: translate(0, 100%);
}
.animated-title > div.text-bottom {
  bottom: 0;
  animation: showBottomTextSlide 0.3s forwards;
  animation-delay: 1.5s;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  top: -1rem;
  transform: translate(0, -100%);
}

.animated-title > .text-rect {
  background: red;
  margin: auto auto;
  left: 0;
  right: 0;
  width: 0px;
  height: 0px;
  animation: showRect 1s forwards;
  animation-delay: 1.5s;
  top: 50%;
}

@keyframes showTopTextSlide {
  0% {
    top: 0;
    left: 0;
  }
  100% {
    left: -10vmax;
    top: -5vmin;
  }
}

@keyframes showBottomTextSlide {
  0% {
    bottom: 0;
    left: 0;
  }
  100% {
    left: 10vmax;
    bottom: -5vmin;
  }
}

@keyframes showRect {
  0% {
    top: 50%;
  }
  100% {
    width: 20vmax;
    height: 10vmin;
    top: calc(50% - 5vmin);
  }
}
